
body.light-mode {
  background-color: rgb(225, 221, 221);
  color: rgb(42, 41, 41);
}

body.dark-mode {
  background-color:  rgb(42, 41, 41);
  color: rgb(160, 120, 120);
}

/* Ejemplo para fondo del navbar */
.navbar-dark-mode {
  background-color: #1f1f1f !important;
}
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.profile-img:hover {
  transform: scale(1.1);
}
/*ICONOS TECNOLOGIAS*/
.tech-icon{
  width: 50PX;
  height: 50PX;
}
